<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wetts.base.pagehelper.ParentVideoDateMapper" >
  <resultMap id="BaseResultMap" type="com.wetts.base.pagehelper.ParentVideoDate" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="kindergarten_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_uuid" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="video_start_date" jdbcType="DATE" javaType="java.util.Date" />
      <arg column="video_end_date" jdbcType="DATE" javaType="java.util.Date" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="creator" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="updater" jdbcType="CHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, kindergarten_id, user_uuid, video_start_date, video_end_date, create_time, creator, 
    update_time, updater
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from parent_video_date
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from parent_video_date
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wetts.base.pagehelper.ParentVideoDate" >
    insert into parent_video_date (id, kindergarten_id, user_uuid, 
      video_start_date, video_end_date, create_time, 
      creator, update_time, updater
      )
    values (#{id,jdbcType=INTEGER}, #{kindergartenId,jdbcType=INTEGER}, #{userUuid,jdbcType=CHAR}, 
      #{videoStartDate,jdbcType=DATE}, #{videoEndDate,jdbcType=DATE}, #{createTime,jdbcType=TIMESTAMP}, 
      #{creator,jdbcType=CHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updater,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wetts.base.pagehelper.ParentVideoDate" >
    insert into parent_video_date
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="kindergartenId != null" >
        kindergarten_id,
      </if>
      <if test="userUuid != null" >
        user_uuid,
      </if>
      <if test="videoStartDate != null" >
        video_start_date,
      </if>
      <if test="videoEndDate != null" >
        video_end_date,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updater != null" >
        updater,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="kindergartenId != null" >
        #{kindergartenId,jdbcType=INTEGER},
      </if>
      <if test="userUuid != null" >
        #{userUuid,jdbcType=CHAR},
      </if>
      <if test="videoStartDate != null" >
        #{videoStartDate,jdbcType=DATE},
      </if>
      <if test="videoEndDate != null" >
        #{videoEndDate,jdbcType=DATE},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=CHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wetts.base.pagehelper.ParentVideoDate" >
    update parent_video_date
    <set >
      <if test="kindergartenId != null" >
        kindergarten_id = #{kindergartenId,jdbcType=INTEGER},
      </if>
      <if test="userUuid != null" >
        user_uuid = #{userUuid,jdbcType=CHAR},
      </if>
      <if test="videoStartDate != null" >
        video_start_date = #{videoStartDate,jdbcType=DATE},
      </if>
      <if test="videoEndDate != null" >
        video_end_date = #{videoEndDate,jdbcType=DATE},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=CHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wetts.base.pagehelper.ParentVideoDate" >
    update parent_video_date
    set kindergarten_id = #{kindergartenId,jdbcType=INTEGER},
      user_uuid = #{userUuid,jdbcType=CHAR},
      video_start_date = #{videoStartDate,jdbcType=DATE},
      video_end_date = #{videoEndDate,jdbcType=DATE},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=CHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>